<% if not user_signed_in? %>
  <div class="jumbotron">
    <h1>Tweet Space</h1>

    <h5>Tweet Curation</h5>
    <p> Tweet Space is an experimental social network designed to curate most recent tweets from a given user profile on Twitter.</p>

    <%= link_to 'Login', :new_user_session, class: 'btn btn-lg btn-primary'  %>
    <%= link_to "Sign Up", :new_user_registration, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
<% if user_signed_in? %>
  <div class="row">
    <div class="col-md-5">
      <div class="jumbotron">
        <h1>Tweet Space</h1>

        <p>Tweet Curation</p>

      </div>
    </div>
    <div class="col-md-5">
      <%= form_for(:user, :url => tweets_get_timeline_url, :method => :get) do |f| %>
        <p>Enter the user name of the profile whose tweets need to be retrieved! But, remember, you can only see those that are public!</p>
        <%= f.text_field :username, :size=>"40", placeholder: "Enter usernames... " %><br /><br />
        <%= f.submit "Get tweets!", :class => "btn btn-primary btn-md", "data-disable-with"=> "Just a moment..." %>
      <% end %>
<% end %>
</div>
</div>

